.wrapperMensajeCookie {
	bottom: 0;
	padding-top: 1px;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.wrapperMensajeCookie .inner {
	padding: 5px 0;
}
.wrapperMensajeCookie .textoLegalCookie {
	background-color: #F1F1F1;
	border: 1px solid #fae3e5;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	max-width: 75%;
	padding: 7px 37px 7px 17px;
	position: relative;
}
.wrapperMensajeCookie .textoLegalCookie p {
	color: #333333;
	font-size: 12px;
	margin: 0;
}
.wrapperMensajeCookie .textoLegalCookie p strong {
	background: url("../images/glyphicons-197-circle-exclamation-mark.png") no-repeat scroll 0 3px transparent;
	display: block;
	font-weight: bold;
	line-height: 19px;
	margin-bottom: 3px;
	padding-left: 19px;
}
.wrapperMensajeCookie .textoLegalCookie p a {
	color: #0097C8;
	font-weight: bold;
}
.wrapperMensajeCookie .textoLegalCookie a.cerrarTextoLegalCookie {
	background: url("../images/glyphicons-208-remove-2.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 16px;
	overflow: hidden;
	position: absolute;
	right: 8px;
	text-indent: 100%;
	top: 12px;
	white-space: nowrap;
	width: 16px;
}
.cerrarTextoLegalCookie {
	cursor: pointer;
}

/* admin styles */

.admincookie-wrapper-header {
	margin-top: 20px
}
.admincookie-wrapper-header h2 {
	margin-left: 25px;
}
.admincookie-wrapper-header span {
	background: url("../images/glyphicons-281-settings.png") no-repeat;
	width: 18px;
	float: left;
	display: inline;
}
